@model nexowebapp.Models.Entities.TaskItem

<form method="post">
    <input asp-for="Title" placeholder="Title" />
    <input asp-for="Description" placeholder="Description" />
    <input asp-for="Budget" placeholder="Budget" />

    <button type="submit">Create</button>
</form>